body {
  margin: 0;
  padding: 0;
  font-family: 'Lato', sans-serif;
  font-weight: bold;
  font-size: 500px;
}

.main {
  text-align: center;
}

button {
  padding: 50px 80px;
  background: #CC6600;
  border: 1px solid  #CC6600;
  color: white;
  outline: 0;
  vertical-align:middle;
}