.container {
    position: relative;
    width: 80%;
	height:78%;
}
.image {
  opacity: 1;
  display: block;
  width: 100%;
  height: auto;
  transition: .5s ease;
  backface-visibility: hidden;
}

.container:hover .image {
  opacity: 0.3;
}

.container:hover .middle {
  opacity: 1;
}
.rcorners {
    border-radius: 10px;
    border: 2px solid #f3b86d;
    padding: 20px;    
}
.fontTH{
	font-family:'Circular';
	font-size:24px;
}/* CSS Document */

